html, body {
  background: rgb(0, 0, 0);
}


.mainPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  width: 100%;
}

.content {
  padding-left: 1vw;
  padding-right: 20vw;
}

body {
  padding: 15px;
  font-size: clamp(1vw, 2.5vw, 4vw);
  font-family: 'Courier New', Courier, monospace;
}

.image img {
  flex: 0 0 auto;
  margin-right: 4vw; 
  border-radius: 25%;
  width: 30vw; 
  max-width: 600px; 
}


.FrontPageTitle h1 {
  width: 100%;
  box-sizing: content-box;
  position: relative;
  color: #00ff40;
  font-size: 120px;
  margin: 0;
  border-bottom: 2px solid #00ff40;
}

.button-container {
  display: flex;
  justify-content: flex-start;
}

.button {
  background-color: transparent;
  border: 2px solid #00ff40;
  color: #00ff40;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  border-radius: 0;
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: rgba(0, 255, 64, 0.2);
}

p {
  color: #00ff40;
  font-size: 40px; 
  padding-right: 15px;
}

a {
  -webkit-transition: border-color 200ms ease, color 200ms ease;
  transition: border-color 200ms ease, color 200ms ease;
  color: #00ff40;
  text-decoration: none;
}

a:hover {
  border-bottom-color: #ffffff;
  color: gold;
}

a:focus {
  border-bottom-color: #ffffff;
  color: gold;
}

.reveal-on-scroll {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.reveal-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
  align-items: center;
}

.continuation p {
  font-size: clamp(24px, 5vw, 70px);
  margin: 20px 0;
  text-align: center;
}

.github-link {
  position: absolute;
  bottom: 10px;
  left: 30px;
  padding-top: 20px;
}

.github-link i {
  font-size: clamp(20px, 2vw, 50px); 
}